.nav__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 3rem;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    .logo {
        font-size: 2rem;
        font-family: $logo;
        
        &:hover span {
            text-decoration: underline $red;
        }

        span {
            color: $red;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 300px;
        appearance: none;
        border: none;

        @media (min-width: 768px) {
            flex-direction: row;
            box-shadow: $inputShadow;
            border-radius: 60px;
            height: 40px;
            width: 500px;

            &:focus-within {
                box-shadow: $inputFocusShadow;
            }
        }
    
        input {
            display: flex;
            flex-grow: 1;
            background: transparent;
            backdrop-filter: blur(5px);
            border: 1px solid #eeeeef;
            color: inherit;
            padding-left: 1.5rem;
            outline: none;
            font-size: inherit;
            height: 40px;

            &:not(:last-of-type) {
                margin-top: 1rem;
            }

            @media (min-width: 768px) {
                height: initial;

                &:not(:last-of-type) {
                    margin-top: 0;
                    border-radius: 60px 0 0 60px;
                }
            }
        }
    
        button {
            border-radius: 60px;
            height: 2.2rem;
            border: none;
            background-color: $red;
            outline: none;
            cursor: pointer;
            margin-top: 1rem;
            transition: background 300ms ease;
            box-shadow: $inputShadow;

            @media (min-width: 768px) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding: 0 1.5rem;
                margin: auto;
                height: 100%;
            }
        }
    }

    .nav__right-container {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
        
        span {
            margin-right: 1rem;
            cursor: pointer;
        }
    }
}