.search__result-detail {
    width: 100%;
    height: 420px;
    position: relative;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media (min-width: 768px) {
        justify-content: flex-start;
    }

    button {
        border: none;
        border-radius: 5px;
        color: $white;
        padding: 5px 10px;
        background: rgba(0, 0, 0, 0.3);
        text-transform: capitalize;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 7px;
        }
    }
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg,rgba(0,0,0,.0001) 31.42%,#000);
    }

    img {
        object-fit: cover;
        height: 100%;
    }

    .search__detail {
        position: absolute;
        padding: 1.5rem 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        @media (min-width: 768px) {
            flex-direction: row;
            padding: 5rem 3rem;
            margin: 0;
        }
        
        .store__logo {
            width: 100px;
            height: 100px;
            margin-right: 1rem;

            img {
                border: 2px solid $white;
                border-radius: 50%;
            }
        }


        h1 {
            font-size: 3rem;
        }

        .store__detail {
            display: flex;
            align-items: center;

            .rating {
                display: flex;
                align-items: center;
            }

            span {
                margin-right: 7px;
            }
        }

        .store__info {
            margin: 7px 0px;

            span {
                margin-right: 7px;
            }

            .is__claimed {
                color: $claimed;
                font-weight: bold;
            }
        }

        .store__status {
            display: flex;

            span {
                margin-right: 7px;
            }

            strong {
                margin: 0 7px;
            }

            .is-open {
                color: $open;
                font-weight: bold;
            }

            .is-closed {
                color: $red;
                font-weight: bold;
            }
            
            .remove-dot {
                display: none;
            }

            p:last-of-type {
                .display-dot {
                    display: none;
                }
            }
        }
    }
}