.search__result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 90%;
    height: 100%;
    padding: 1.5rem;
    margin: 2rem auto;
    border: $cardBorders;
    border-radius: 4px;
    transition: $hoverTransitions;
    cursor: pointer;
    
    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }

    .viewed {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0.8rem;
        padding: 10px;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        width: 750px;
    }

    .business__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: normal;
            text-align: start;
        }

        .img__container {
            width: 210px;
            height: 210px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;

            @media (min-width: 768px) {
                max-width: 210px;
                max-height: 210px;
                margin-right: 10px;
            }
    
            img {
                object-fit: cover;
                height: 100%;
            }

            .tags {
                position: absolute;
                top: 0;
                left: 0;
                padding: 7px;
                margin: 5px;
                background: $inputShadow;
                border: 1px solid $white;
                border-radius: 50%;

                &:hover {
                    background: $red;
                }
            }

            .fav {
                background: $red;
            }
        }
    
        .search__result-details {
            h2:hover {
                text-decoration: underline;
            }
            
            .tags {
                border: none;
                border-radius: 5px;
                color: $white;
                padding: 0 1.5px;
                background: rgba(0, 0, 0, 0.3);
                cursor: pointer;

                &:first-child {
                    margin-left: 7px;
                }
            }

            p {
                margin-top: 7px;
            }

            .business__method {
                margin: 3px 0;
                text-transform: capitalize;

                span:not(:last-of-type) {
                    margin-right: 7px;
                }

                strong {
                    color: $open;
                }
            }
        }
    }

    .business__detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
        padding-top: 7px;

        @media (min-width: 768px) {
            align-items: normal;
        }
    }
}